body {
    margin: 0;
    background: linear-gradient(to right, #2ebf91, #8360c3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
    cursor: pointer;
}